<app-menu></app-menu>
<div class="container-fluid">
  <div class="login">
    <p class="bg-light login-title">Login to our world</p>
    <div class="container-fluid">
      <div class="row pad-10">
        <div class="col-md-12">
          <img src="assets/images/login-logo.png" alt="logo" class="login-logo">
        </div>
      </div>
      <div class="row bg-light">
        <div class="col-md-12 ">
          <form class="login-form" method="POST">
            <div class="form-group">
              <label for="username" >Tên đăng nhập</label>
              <input type="text" name="username" [(ngModel)]="userName"/>
            </div>
            <div class="forn-group">
              <label for="password">Mật khẩu</label>
              <input type="password" name="password" [(ngModel)]="password" />
            </div>
            <div class="form-group">
              <p class="no-acc-text">Chưa có tài khoản ? <a routerLink='/signup'>Đăng ký tại đây</a></p>
              <div class="btn-group" style="width:100%">
                <button type="button" class="btn btn-danger" (click) = 'openForgot()'>Quên mật khẩu</button>
                <button type="submit" class="btn btn-info login-but" (click)="login()">Đăng nhập</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="forgot-pass">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2 class="forgot-title">FORGOT PASSWORD FIELD</h2>
          <form action="" method="POST" class="lost-pass">
            <div class="form-group">
              <label for="">Tên đăng nhập</label> <br>
              <input type="text" class='lost-info' [(ngModel)]="lostUser" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <label for="">Mật khẩu mới</label><br>
              <input type="text" class='lost-info' [(ngModel)]="lostPass" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <label for="">Xác nhận mật khẩu mới</label><br>
              <input type="text" class='lost-info' [(ngModel)]="lostRePass" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <div class="btn-group">
                <button type='button' class="btn btn-danger" (click) = 'closeForgot()'>Huỷ bỏ</button>
                <button type='button' class='btn btn-success' (click) = 'changePassword(lostUser,lostPass,lostRePass)'>Thay đổi</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="wrong-user" id='error-login'>
    <p class="error-user">Sai tên tài khoản hoặc mật khẩu</p>
  </div>
</div>

<app-footer></app-footer>
