.map-title {
    text-transform: uppercase;
    color: lightgreen;
}
.mar-t-b-20 {
    margin: 20px auto;
}
.cn-text {
    color: darkgrey;
    cursor:pointer;
}
.cn-text:hover {
    margin-top:20px;
    color: cornflowerblue;
    font-size:20px;
}
.fa-search-location {
    margin-right:10px;
}
.contact-bg {
    width:100%;
}
.contact-title {
    color: white;
    text-transform: uppercase;
    background-color: indianred;
    padding: 20px 0;
}
.contact-title span {
    font-size: 30px;
}
.field-contact {
    width:100%;
    border: 1px solid lightgrey;
}
.message {
    max-height:200px;
    min-height:200px;
}
.flex-layout {
    display: flex;
    flex:1;
}
.contact-form {
    width:100%;
    margin: 20px 0;
}
.form-group label {
    font-size: 18px;
    font-weight: 500;
    color: steelblue;
}
