<header>
  <nav class="navbar navbar-expand-md fixed-top">
    <div class="container">
      <!-- Brand -->
      <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="" class="menu-logo"></a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav" style="margin-right:auto!important">
          <li class="nav-item">
            <a class="nav-link" href="/home">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/introduce">Giới thiệu</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Bài thi
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/test">Trắc nghiệm </a>
              <a class="dropdown-item" href="#"></a>
              <a class="dropdown-item" href="#"></a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Liên hệ</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-log">
            <a href="/login" class="log-link">Đăng nhập</a>
          </li>
          <!-- <li class="nav-sup">
            <a href="/login">Đăng ký</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>
