.menu-logo {
  width: 200px;
  height: 50px;
}

nav {
  background-color: rgba(0, 0, 0, 0.8);
}

.nav-item {
  width: 150px;
}

.nav-link {
  text-align: center;
  color: white;
  border-radius: 20px;
}

.nav-link:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
}

.nav-log {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  padding: 5px 15px;
  border-radius: 20px;
}

.log-link {
  color: tomato;
}

.user-name {
  color: white;
  text-transform: capitalize;
  margin-left: 10px;
}

.nav-link:hover .user-name {
  color: black;
}

.alert-login-box {
  width: 200px;
  height: 200px
}

.menu-mon {
  cursor: pointer;
}

#overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  display: none;
  z-index:10;
}

#box-message {
  width: 30%;
  height: 70px;
  background-color: lightskyblue;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  padding: 15px;
  color: white;
  font-size: 20px;
  border-radius: 15px;
  display: none;
}

.close-box {
  position: absolute;
  right: 10px;
  top: -10px;
  font-size: 30px;
  cursor: pointer;
}
