.menu-logo {
    width:200px;
    height:50px;
}
nav {
    background-color: rgba(0,0,0,0.8);
}
.nav-item{
    width: 150px;
}
.nav-link {
    text-align: center;
    color :white;
    border-radius: 20px;
}
.nav-link:hover {
    background-color: white;
    color :rgba(0,0,0,0.8);
}
.nav-log {
    background-color: white;
    color :rgba(0,0,0,0.8);
    padding: 5px 15px;
    border-radius: 20px;
}
.log-link {
    color: tomato;
}
.user-name {
    color:white;
    text-transform: capitalize;
    margin-left:10px;
}
.nav-link:hover .user-name {
    color:black;
}
