.quest {
    width:100%;
    position: relative;
}
.quest-choose {
    margin-right : 15px;
    vertical-align: middle;
}
.quest-ans {
    vertical-align: top;
}
.answer-box {
    padding-left: 30px;
}
.quest-title {
    margin-bottom:0;
}
.user-info {
    width:100%;
    margin: 10px auto;
}
.user-img-test {
    width:100px;
    height:100px;
    
}
.pad-t-b-20 {
    margin: 20px auto;
}
.quest-num-box {
    width:100%;
}
.quest-num {
    border-radius : 10px;
    padding: 5px 15px;
    background-color:lightblue;
    font-size:14px;
    font-weight: 400;
    margin:0 3px;
}
.card-bg {
    background-color: lightgoldenrodyellow;
}
.count-down {
    position: absolute;
    top :10px;
    right :20px;
    padding:5px;
    border-radius: 20px;
    background-color: lightblue;
    color :white;
    width:30px;
    height:30px;
    line-height: 15px;
}