<app-menu></app-menu>
<div class="container">
  <div class="row pad-t-b-20">
    <div class="col-md-8 text-right">
      <div class="card text-left">
        <div class="card-header card-bg"><i class="fas fa-file-code"></i> {{mon.Name}}</div>
        <div class="card-body">
          <div class="quest" *ngFor='let quizs of quizMon.quiz | paginate : {itemsPerPage : 1, currentPage: curPage}'>
            <p class="quest-title">{{curPage}} . {{quizs.Text}}</p>
            <div class="answer-box" *ngFor="let ans of quizs.Answers">
              <input type="radio" name="quiz.Id" class="quest-choose" value="{{ans.Id}}" (change)='activeRadio($event)'> <span class="quest-ans">{{ans.Text}}</span><br>
            </div>
          </div>
          <div class="count-down-box">
              <countdown #testTime [config]="{leftTime: countDown}"></countdown>
          </div>
        </div>
        <div class="card-footer card-bg">Số câu : {{curPage}} / {{quizMon.quiz.length}}</div>
      </div>
      <hr>
      <div class="control-quest">
        <div class="row">
          <div class="col-md-3">
            <div class="icon-paginate"></div>
          </div>
          <div class="col-md-9">
            <pagination-controls (pageChange)="curPage = $event; testTime.restart(); changeActive('.quest-num')"></pagination-controls>
          </div>
        </div>
      </div>
      <div class="instruction container-fluid text-left">
        <div class="row">
          <div class="col-md-6 instruct-bg">
            <div class="instruct-box">
              <p>Trả lời câu hỏi bằng việc tích vào các radio button</p>
            </div>
          </div>
          <div class="col-md-6 instruct-bg">
            <div class="instruct-box">
              <p>Chỉ chọn được một đáp án cho mỗi câu</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 instruct-bg">
            <div class="instruct-box">
              <p>Thời gian để trả lời mỗi câu hỏi là {{countDown}} giây</p>
            </div>
          </div>
          <div class="col-md-6 instruct-bg">
            <div class="instruct-box">
              <p>Lựa chọn câu hỏi cần làm ở thanh điều hướng hoặc click vào các ô câu hỏi ở cột bên phải</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="background-color:lightgoldenrodyellow; border-radius: 10px;">
      <div class="user-info">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/images/user.png" alt="user-info" class="user-img-test rounded-circle img-thumbnail">
          </div>
          <div class="col-md-8">
            <p>Hoang Van Luong</p>
            <p>206737</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="test-title">Các câu hỏi</p>
            <div class="quest-num-box">
              <div class="quest-num text-center" *ngFor="let quiz of quizMon.quiz; let i = index"
                (click)="toQuiz(i+1,$event)"> {{i+1}} </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <br>
            <button type="submit" class="btn btn-danger">Kết thúc</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<app-footer></app-footer>
