<!-- <app-menu></app-menu>   -->

<nav class="navbar navbar-expand-md fixed-top">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="" class="menu-logo"></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav" style="margin-right:auto!important">
        <li class="nav-item">
          <a class="nav-link" [routerLink] ='["/home"]'>Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink] ='["/introduce"]'>Giới thiệu</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Môn học
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item menu-mon" name='mon.Id' (click)='checkLogin($event,"block",mon.Id);changeLesson(mon.Id)'  *ngFor="let mon of listMon"> {{mon.Name}}</a>
          </div>
        </li> 
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/contact"]'>Liên hệ</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-log" *ngIf="!loginTus">
          <a routerLink="/login" class="log-link">Đăng nhập</a>
        </li>
        <li class="nav-user dropdown" *ngIf="loginTus">
          <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
            <img src="assets/images/user.png" alt="" class="rounded-circle img-thumbnail" style="width:50px;" />
            <span class="user-name">{{curUser.name}}</span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink] ='["/user"]'> User Info</a>
            <a class="dropdown-item" [routerLink] ='["/home"]' (click)='logOut()'> Đăng xuất</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row pad-t-b-20">
    <div class="col-md-8 text-right">
      <div class="card text-left">
        <div class="card-header card-bg"><i class="fas fa-file-code"></i> {{mon.Name}}</div>
        <div class="card-body">
          <div class="quest" *ngFor='let quizs of quizMon.quiz | paginate : {itemsPerPage : 1, currentPage: curPage}'>
            <p class="quest-title">{{curPage}} . {{quizs.Text}}</p>
            <div class="answer-box" *ngFor="let ans of quizs.Answers">
              <input type="radio" name="{{quizs.Id}}" class="quest-choose" value="{{ans.Id}}" (change)='activeRadio(quizs.Id, ans.Id,$event);disabledRadio()'> <span class="quest-ans">{{ans.Text}}</span><br>
            </div>
          </div>
          <div class="count-down-box">
              <span id='countDown'></span>
          </div> 
        </div>
        <div class="card-footer card-bg">Số câu : {{curPage}} / {{quizMon.quiz.length}}</div>
      </div>
      <hr>
      <div class="control-quest">
        <div class="row">
          <div class="col-md-3">
            <div class="icon-paginate"></div>
          </div>
          <div class="col-md-9">
            <pagination-controls (pageChange)="curPage = $event; activeQuestNum('.quest-num'); showAnsPerPage();disabledRadio()"></pagination-controls>
          </div>
        </div>
      </div>
      <div class="instruction container-fluid text-left">
        <div class="row">
          <div class="col-md-6 instruct-bg">
            <div class="instruct-box">
              <p>Trả lời câu hỏi bằng việc tích vào các radio button</p>
            </div>
          </div>
          <div class="col-md-6 instruct-bg">
            <div class="instruct-box">
              <p>Chỉ chọn được một đáp án cho mỗi câu</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 instruct-bg">
            <div class="instruct-box">
              <p>Thời gian để trả lời bài kiểm tra là 1 tiếng 30 phút</p>
            </div>
          </div>
          <div class="col-md-6 instruct-bg">
            <div class="instruct-box">
              <p>Lựa chọn câu hỏi cần làm ở thanh điều hướng hoặc click vào các ô câu hỏi ở cột bên phải</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="background-color:lightgoldenrodyellow; border-radius: 10px;">
      <div class="user-info">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/images/user.png" alt="user-info" class="user-img-test rounded-circle img-thumbnail">
          </div>
          <div class="col-md-8">
            <p>Tên : {{curUser.name}}</p>
            <p>Id : {{curUser.id}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="test-title">Các câu hỏi</p>
            <div class="quest-num-box">
              <div  class="quest-num text-center" *ngFor="let quiz of quizMon.quiz; let i = index"
                (click)="toQuiz(i+1,$event);showAnsPerPage()" id='{{quiz.Id}}'> {{i+1}} </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <br>
            <button type="submit" class="btn btn-danger" (click)='checkEndTest()'>Kết thúc</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id='mark-alert'>
    <div id='closebox' (click)='closeBox()'>&times;</div>
    <div class='text-center'>
        <h2 class='result-lesson'>{{this.mon.Name}}</h2>
    </div>
    <hr />
    <p class='result-part'><span>Tài Khoản</span> : {{curUser.name}}</p>
    <p class='result-part'><span>Điểm số</span> : {{testMark()}} </p>
    <p class='result-part'><span>Số câu đã làm</span> : {{countIsAnswer}}</p>
    <p class='result-part'><span>Số câu làm sai</span> : {{quizMon.quiz.length - testMark()}}</p>

    
  </div>
</div>
<app-footer></app-footer>
