.intro-img {
  width: 100%;
  height: 400px;
}

.mar-t-b-20 {
  margin: 30px 0;
}

.team-text {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 20px 0;
  background-color: slategray;
  color: mediumaquamarine;
}

.no-mar {
  padding: 0;
}

.team-img {
  width: 250px;
  height: 250px;
}

.team-part {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.team-part:hover .intro-team {
  transition: all 1.5s;
  transform: translate(265px,250px);
  border-radius:0;
}

.intro-team {
  position: absolute;
  top: -260px;
  left: -260px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 300px;
  border-radius:50%;
  padding:20px;
  color:white;
  text-align: left;
}
.team-bg {
    background-image: url("../../assets/images/team-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h5 {
  color: lightcoral;
}