<app-menu></app-menu>
<div class="container">
  <div class="row mar-t-b-20">
    <div class="col-md-6">
      <img src="assets/images/intro-1.jpg" alt="intro-1" class="intro-img" />
    </div>
    <div class="col-md-6">
      <h2 class="intro-title"></h2>
      <p class="">
        Condimentum ipsam mollitia aut cupidatat ante, feugiat sapiente aspernatur magnis, facilisi tellus. Quis magnam
        interdum? Omnis, porttitor posuere lorem wisi! Ratione natus minus beatae. Luctus scelerisque libero! Mi
        senectus reprehenderit rhoncus proident curae neque et a, ipsam per donec vehicula. Laborum error voluptates
        fermentum. Deleniti, ex do, dis laboris deserunt! Vulputate. Do? Assumenda sint aenean vulputate. Optio at
        praesentium est vivamus cumque? Diamlorem ipsam, illum eius et ipsa? Morbi, cursus quia dignissim? Ratione
        primis sapiente ipsum ante penatibus ante nunc! Illo mi, dui! Praesent sem litora porro sociis, necessitatibus
        modi? Dolorum, dis eros ultricies nesciunt fugiat quisquam perspiciatis, aptent porro.
      </p>
    </div>
  </div>
  <div class="row mar-t-b-20">
    <div class="col-md-6">
      <h2></h2>
      <p class="">Minus aliquip tincidunt auctor reprehenderit in sociis quam mollit suspendisse veniam dolore dolores
        irure, proin, cupiditate iusto hac, metus ac accumsan faucibus. Veniam perspiciatis, curabitur inceptos,
        corrupti rhoncus sed porta! Mauris magnam dolor? Donec error velit totam gravida tortor do, fugit ridiculus.
        Parturient architecto blandit! Cubilia, gravida nonummy? Voluptates facilisis, consectetur malesuada lacus rem!
        Nunc wisi, convallis! Congue sint nisl quaerat odit cillum. Pariatur iste provident. Quis tortor? Aperiam?
        Taciti! Luctus nisl, ullamco dicta, deleniti occaecat, parturient. Ullam netus consectetuer! Adipisicing
        assumenda placerat aliquet animi quo per et feugiat mollis, nostra perspiciatis hac tempore erat, velit aliquid
        proident dignissimos tempore.</p>
    </div>
    <div class="col-md-6">
      <img src="assets/images/intro-2.jpg" alt="intro-1" class="intro-img" />
    </div>
  </div>
  <div class="row mar-t-b-20">
    <div class="col-md-6">
      <img src="assets/images/intro-3.jpg" alt="intro-1" class="intro-img" />
    </div>
    <div class="col-md-6">
      <h2></h2>
      <p class="">
        Do cum harum vestibulum venenatis mi nullam voluptatem adipisicing exercitationem reprehenderit nostrum cum
        occaecati, sapiente magna montes omnis, semper, esse. Habitasse per harum sapien? Natus accusantium facilis
        ducimus proin tempus, ultricies ac quisquam tempore placeat. Senectus? Rerum maiores adipiscing sapien varius
        hendrerit! Natus ipsum excepteur? Numquam parturient irure, assumenda reprehenderit platea habitasse quod
        laudantium tempor tenetur dapibus lobortis ullamcorper adipisicing urna viverra imperdiet sociosqu temporibus
        harum ultricies. Pede veniam quae, ante nostrum, dui perspiciatis veniam nec class assumenda tortor itaque,
        magna primis tempore, mi, quisquam facere possimus non, numquam tellus, curabitur ullamcorper, fugit faucibus
        veniam ante, lacinia tristique porro, fermentum.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid text-center no-mar team-bg">

  <p class="team-text">Our Team</p>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3 team-part text-center">
        <img src="assets/images/team-1.jpg" alt="" class="rounded-circle team-img">
        <div class="intro-team">
          <h5>Đinh Văn Thạnh</h5>
          <p><span>Position : Front-End Developer</span></p>
          <p class="intro-team-det">
            5 năm kinh nghiệm làm việc tại một trong những công ty hàng đầu về công nghệ.
            luônn đi đầu trong việc tìm kiếm và học hỏi công nghệ mới phù hợp với xu hướng 4.0
          </p>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3 team-part text-center">
        <img src="assets/images/team-2.jpg" alt="" class="rounded-circle team-img">
        <div class="intro-team">
          <h5>Vũ Mai Đắc Ngôn</h5>
          <p><span>Position : FrontEnd Developer And Sales Marketing</span></p>
          <p class="intro-team-det">
            5 năm kinh nghiệm làm việc tại một trong những công ty hàng đầu về công nghệ.
            luônn đi đầu trong việc tìm kiếm và học hỏi công nghệ mới phù hợp với xu hướng 4.0
          </p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3 team-part text-center">
        <img src="assets/images/team-3.jpg" alt="" class="rounded-circle team-img">
        <div class="intro-team">
          <h5>Nguyễn Đức Huy</h5>
          <p><span>Position : Android Developer</span></p>
          <p class="intro-team-det">
            5 năm kinh nghiệm làm việc tại một trong những công ty hàng đầu về công nghệ.
            luônn đi đầu trong việc tìm kiếm và học hỏi công nghệ mới phù hợp với xu hướng 4.0
          </p>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3 team-part text-center">
        <img src="assets/images/team-4.jpg" alt="" class="rounded-circle team-img">
        <div class="intro-team">
          <h5>Đào Mạnh Cường</h5>
          <p><span>Position : BackEnd Developer</span></p>
          <p class="intro-team-det">
            5 năm kinh nghiệm làm việc tại một trong những công ty hàng đầu về công nghệ.
          </p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

  </div>

</div>
<app-footer></app-footer>
