<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="footer-box-title">Liên hệ</p>
        <hr>
        <p class="footer-text"><i class="fas fa-map-marker-alt"></i> : <span>12 Trịnh đình thảo, Tân phú, TP.HCM</span>
        </p>
        <p class="footer-text"><i class="fas fa-envelope"></i> : <span>luonghv1997@gmail.com</span></p>
        <p class="footer-text"><i class="fas fa-phone"></i> : <span>0123456789</span></p>
        <p class="footer-box-title">Chi nhánh</p>
        <hr>
        <p class="footer-text"><i class="fas fa-map-pin"></i> : <span>123 Lê Đại hành, TP.HCM </span></p>
        <p class="footer-text"><i class="fas fa-map-pin"></i> : <span>30 Cao thắng, Q3, TP.HCM</span></p>

      </div>
      <div class="col-md-4">
        <p class="footer-box-title">Về chúng tôi</p>
        <hr>
        <p><a href="" class="footer-link">Điều khoản sử dụng</a></p>
        <p><a href="" class="footer-link">Chính sách</a></p>
        <img src="assets/images/footer-logo.png" alt="logo" class="footer-logo">

      </div>
      <div class="col-md-4">
        <p class="footer-box-title">Fanpage</p>
        <hr>
        <div class="fb-page" data-href="https://www.facebook.com/laptrinhvienconfessions/"
          data-tabs="L&#x1ead;p tr&#xec;nh" data-width="380" data-height="300" data-small-header="false"
          data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/laptrinhvienconfessions/" class="fb-xfbml-parse-ignore"><a
              href="https://www.facebook.com/laptrinhvienconfessions/">Lập Trình Viên Confessions</a></blockquote>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="copy-text">Được tạo ra bởi <span>Mouse Time</span></p>
        <p class="copy-text">© 2019 TestOnline.Com  All Rights Reserved </p>
      </div>
    </div>
  </div>
</footer>
