<app-menu></app-menu>
<div class="user">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="front">
          <div class="row">
            <div class=col-md-4>
              <img src="assets/images/user.png" alt="" class="user-image img-thumbnail">
            </div>
            <div class="col-md-8">
              <p class="info-title"><i class="fas fa-user"></i> Name</p>
              <div class="input-group mb-3">
                <input type="text" class="form-control user-info-field" [(ngModel)]="curUser.name" name='user'>
                <div class="input-group-append">
                  <span class="input-group-text edit-but">Sửa</span>
                  <span class="input-group-text save-but">Xong</span>
                </div>
              </div>
              <p class="info-title"><i class="fas fa-dumbbell"></i> Phone</p>
              <div class="input-group mb-3">
                <input type="text" class="form-control user-info-field" [(ngModel)]="curUser.phone" name='phone'>
                <div class="input-group-append">
                  <span class="input-group-text edit-but" >Sửa</span>
                  <span class="input-group-text save-but">Xong</span>
                </div>
              </div>
              <p class="info-title"><i class="fas fa-venus-mars"></i> Address  </p>
              <div class="input-group mb-3">
                <input type="text" class="form-control user-info-field" [(ngModel)]="curUser.address" name='address'>
                <div class="input-group-append">
                  <span class="input-group-text edit-but">Sửa</span>
                  <span class="input-group-text save-but">Xong</span>
                </div>
              </div>
              <p class="info-title"><i class="fas fa-at"></i> Email</p>
              <div class="input-group mb-3">
                <input type="email" class="form-control user-info-field" [(ngModel)]="curUser.email" name='email'>
                <div class="input-group-append">
                  <span class="input-group-text edit-but">Sửa</span>
                  <span class="input-group-text save-but">Xong</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <hr>
            </div>
          </div>
        </div>
        <div class="back">

        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
