<app-menu></app-menu>
<div class="user">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="front">
          <div class="row">
            <div class=col-md-4>
              <img src="assets/images/user.png" alt="" class="user-image img-thumbnail">
            </div>
            <div class="col-md-8">
              <p class="info-title"><i class="fas fa-user"></i> Name</p>
              <p>{{curUser.user}}</p>
              <p class="info-title"><i class="fas fa-dumbbell"></i> Phone</p>
              <p>{{curUser.phone}}</p>
              <p class="info-title"><i class="fas fa-venus-mars"></i> Address  </p>
              <p>{{curUser.address}}</p>
              <p class="info-title"><i class="fas fa-at"></i> Email</p>
              <p>{{curUser.email}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <hr>
            </div>
          </div>
        </div>
        <div class="back">

        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
